body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
 
.container {
    max-width: 510px;
    margin: auto;
    background: rgb(218, 207, 235);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
h2 {
    text-align: center;
}
 
label {
    margin-top: 10px;
    display: block;
}
 
input {
    width: 95%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
 
button {
    width: 100%;
    padding: 10px;
    background: #62429b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}
 
button:hover {
    background: #7069c0;
}
 
#message {
    margin-top: 20px;
    text-align: center;
    color: red;
}
 